@{
    ViewBag.Title = "Home Page";
}

<h2 style="margin-bottom:50px">Sample CRUD Operation </h2>
<div class="container">

    <form>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="Fname">First Name:</label>
                <input type="text" class="form-control" id="id" style="display:none">
                <input type="text" class="form-control" id="Fname" placeholder="Enter First Name">
            </div>
            <div class="form-group">
                <label for="Lname">Last Name:</label>
                <input type="text" class="form-control" id="Lname" placeholder="Enter Last Name">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="Mobno">Mobile Number:</label>
                <input type="text" class="form-control" id="Mobno" placeholder="Enter Mobile Number">
            </div>
            <div class="form-group">
                <label for="Adress">Adress:</label>
                <input type="text" class="form-control" id="Adress" placeholder="Enter Adress">
            </div>
        </div>
        <button type="submit" id ="create" class="btn btn-default" onclick="fnInsert()" style="margin-bottom:50px">Submit</button>

        <button type="submit" id ="update" class="btn btn-default" onclick="fnUpdate()" style="margin-bottom:50px">Update</button>


        <script src="~/Scripts/CRUD/Crud.js"></script>
    </form>

    <table id="ViewValues" class="table table-bordered" style="margin-bottom: 30px">
    </table>
</div>